/John Galarza Practica POO1 variables/nbproject/private/
/John Galarza POO Operadores/nbproject/private/
/John Galarza Practica POO1 variables/build/
/John Galarza POO Operadores/build/
/John Galarza POO Operadores relacionales/nbproject/private/
/John Galarza POO Operadores relacionales/build/
